$black-color: #070707;
$grey-color: #828282;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $black-color;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header {
    &-nav-list {
        display: flex;
        justify-content: space-between;
        padding: 30px 0px;
        border-bottom: 1px solid $grey-color;

        &__item {
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            color: $grey-color;
            text-decoration: none;

            &--active {
                color: $black-color;
            }

            &:hover {
                color: $black-color;
            }
        }
    }

    &-about-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0px 30px 0px;
        position: relative;

        &__item--name {
            font-size: 47.3392px;
            line-height: 59px;
            font-weight: 700;
        }

        &__item--info-about-me {
            font-size: 18px;
            line-height: 22px;
        }

        &__item--lang {
            display: flex;
            transform: rotate(-90deg);
            font-weight: 700;
            margin-right: -24px;
        }

        &-line {
            padding: 0px 5px;
        }

        &-disabled {
            color: $grey-color;
        }

        &-button {
            display: none;
            position: absolute;
            top: 20;
            right: 0;
        }
    }

    &-main-photo-box {
        display: flex;

        &__item {
            max-height: 387px;
            width: 100%;
            object-fit: cover;
        }

        &__item-hidden {
            display: none;
        }
    }
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 110px 0px 110px 0px;
    background: #F6F6F6;
    margin-top: 100px;

    &__heading {
        font-size: 34px;
        line-height: 42px;
        font-weight: 700;
        color: $black-color;
    }

    &__description {
        max-width: 470px;
        padding-top: 20px;
    }

    &-text {
        font-size: 18px;
        line-height: 22px;
    }

    &-text:nth-child(2) {
        padding: 30px 0px;
    }
}

.skils {
    padding: 90px 0px 110px 0px;
    text-align: center;

    &__heading {
        font-size: 34px;
        line-height: 42px;
        font-weight: 700;
    }

    &__sub-heading {
        padding-top: 70px;
        font-size: 18px;
        line-height: 22px;
    }

    &-app {
        padding: 80px 0px 110px 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-name-app {
        font-size: 14px;
        line-height: 17px;
        color: $grey-color;
        padding: 25px 0px 40px 0px;
    }

    &-level-star {
        margin: 0px 5px 0px 5px;
    }

}

.portfolio {
    text-align: center;
    padding-top: 110px;
    background: #F6F6F6;

    &__heading {
        font-size: 34px;
        line-height: 42px;
        font-weight: 700;
        padding-bottom: 50px;
    }

    &__item {
        padding-bottom: 100px;
    }

    &-img {
        width: 100%;
    }

    &-description {
        line-height: 22px;
        text-align: center;
        color: $black-color;
        margin-top: 45px;
        display: inline-block;
    }
}

.contacts {
    padding: 110px 0px 110px 0px;
    text-align: center;

    &__heading {
        font-size: 34px;
        line-height: 42px;
        font-weight: 700;
    }

    &__sub-heading {
        font-size: 18px;
        line-height: 22px;
        padding: 20px 0px 30px 0px;
    }

    &__button {
        font-size: 18px;
        line-height: 22px;
        padding: 10px 30px 10px 30px;
        background-color: $black-color;
        color: #FFFFFF;
        border-radius: 20px;
        display: inline-block;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            box-shadow: 0 0 10px $grey-color;
            transition: 0.3s;
        }
    }

    &__social-networks-box {
        padding: 45px 0px 45px 0px;
        max-width: 345px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    &-icon {
        transition: 0.3s;
    }

    &-icon:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    &-description {
        font-size: 14px;
        line-height: 17px;
        color: $grey-color;
    }
}

//media for 1024
@media (max-width: 1024px) {
    .container {
        max-width: 740px;
    }
}

@media (max-width: 760px) {
    .container {
        max-width: 320px;
    }

    .header {
        &-nav-list {
            display: none;
        }

        &-about-info {
            padding: 20px 0px 20px 0px;
            flex-direction: column;
            align-items: flex-start;

            &__item--lang {
                display: none;
            }

            &__item--name {
                font-size: 42px;
                line-height: 40px;
            }

            &__item--info-about-me {
                padding-top: 10px;
            }

            &-button {
                display: block;
            }
        }

        &-main-photo-box {
            justify-content: center;

            &__item {
                display: none;
            }

            &__item-hidden {
                display: block;
                width: 100%;
                max-width: 317px;
                object-fit: cover;
            }
        }

    }

    .about-me {
        padding: 80px 0px;
        margin-top: 80px;
    }

    .skils {
        padding: 80px 0px 80px 0px;

        &-app {
            flex-direction: column;
            padding: 0px;

            &__item {
                margin-bottom: 50px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        &-name-app {
            padding: 25px 0px 25px 0px;
        }

        &__sub-heading {
            padding: 50px 0px;
        }
    }

    .portfolio {
        padding-top: 80px;

        &__heading {
            padding-bottom: 80px;
        }

        &-description {
            margin-top: 30px;
        }
    }

    .contacts {
        padding: 80px 0px;

        &__social-networks-box {
            max-width: 280px;
        }

        &__sub-heading {
            padding: 35px 0px 45px 0px;
        }

        &__button {
            width: 280px;
        }
    }
}

@media (max-width: 350px) {
    .container {
        max-width: 300px;
    }
}